/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-citylimits-citylimits-custom-donate {
  border: 1px solid #8d96a0;
  background-color: #F8F9F9;
  padding: 14px;
  color: black;
  background-image: none;
}
.wp-block-citylimits-citylimits-custom-donate .block-title {
  font-size: 13px;
  margin-bottom: 0.5em;
}
.wp-block-citylimits-citylimits-custom-donate .block-title svg,
.wp-block-citylimits-citylimits-custom-donate .components-base-control__label svg {
  max-height: 13px;
  vertical-align: middle;
}
.wp-block-citylimits-citylimits-custom-donate .block-editor-rich-text {
  border-radius: 4px;
  padding: 6px 8px;
  border: 1px solid #8d96a0;
  margin-bottom: 2px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: white;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-align="left"] .wp-block-citylimits-citylimits-custom-donate .block-editor-rich-text,
.block-editor-block-list__layout .block-editor-block-list__block[data-align="right"] .wp-block-citylimits-citylimits-custom-donate .block-editor-rich-text {
  max-width: 20em;
}
.block-editor-block-list__block[data-align="center"] .wp-block-citylimits-citylimits-custom-donate {
  text-align: left;
}
.wp-block-citylimits-citylimits-custom-donate .block-editor-rich-text .block-editor-rich-text__editable * {
  font-size: 13px;
}
