/**
 * VARIABLES
 */
@red: #D41313; // if you change this, be sure to update img/top-term-border-image.png
@black: black;
@white: white;
@dark_grey: #333;
@grey1: #c3c3c3; // img/homepage-border-img.png
@grey2: #e2e2e2;
@grey3: #666;
@beige: #f5f2ed;


// copied from Largo for ease
@navbarHeight:                    40px;

// Fonts
@font-sans: "Helvetica", "Helvetia Neue", Arial, sans-serif;
@font-header: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-serif: serif;

// this determines a lot of things regarding homepage and top term spacing
@measure: 1.5rem;
