/**
 * VARIABLES
 */
@red: #D41313;
@black: black;
@white: white;
@grey1: #c3c3c3;
@grey2: #e2e2e2;
@grey3: #666;


// copied from Largo for ease
@navbarHeight:                    40px;

// Fonts
@font-sans: "Helvetica", "Helvetia Neue", Arial, sans-serif;
@font-serif: serif;
