.dfw-loaded {
  background-color: @beige;
}
.home #widget-area .dfw-loaded {
  padding: 5vw 0;
}
#header-ad-zone-container .dfw-loaded {
  padding: @measure 0;
}
.scaip .dfw-loaded {
  padding: 5vw 0;
}
