/**
 * NEWSLETTER SIGNUP FORMS
 */

// General styles
.newsletter-signup {
	padding: 0 2.5%;
	background-color: @black;
	color: @grey1;

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.visible-xs {
		display: block;
	}
	.newsletter-response {
		display: none;
	}
	.btn {
		padding: (0.5 * @measure) @measure;
		text-transform: uppercase
	}
	.row,
	.expanded {
		&:before, &:after {
			display: table;
			content: " ";
		}
		&:after {
			clear: both;
		}
	}
	hgroup {
		text-align: center;
		border-left: 1px solid @grey1;
		border-right: 1px solid @grey1;
		max-width: 30em;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		color: @white;
		font-size: calc( 15px + 1vw );
		margin-bottom: 0;
	}
	h2 {
		color: @grey1;
		font-size: 14px;
		font-family: @font-body;
		font-weight: normal;
	}
	h3 {
		font-size: 16px;
		color: @red;
		margin-bottom: 0;
	}
	.post_content {
		margin-bottom: @measure;
	}
	label {
		display: inline;
		font-size: 12px;
		font-weight: normal;
	}
	input[type=text] {
		width: 100%;
	}
	form input[type="checkbox"] {
		margin-right: 7px;
	}
	.signup_text_holder {
		position: relative;
	}
	&.maincolumn {
		display: none;
	}
	.column {
		float: left;
		width: 33.33%;
		padding: 15px;
	}
	p {
		font-size: 12px;
		margin-bottom: 0;
	}
	section {
		padding-left: 1 * @measure;
	}
	section input[type="checkbox"] {
		float: left;
		margin-top: 0.2rem;
		margin-left: -1 * @measure;
	}
	section+section {
		margin-top: @measure;
	}
	
	&.mobile {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99999;
		max-height: 0;
		-webkit-transition: max-height 1.4s, height 1.4s;
		transition: max-height 1.4s, height 1.4s;
		&>a {
			position: absolute;
			display: block;
			z-index: 20;
			top: 33px;
			left: 0;
			bottom: 0;
			right: 0;
		}
		#close_bar {
			position: relative;
			background-color: @black;
			height: 44px;
			.close_box {
				width: 44px;
				height: 44px;
				position: absolute;
				right: 0;
				margin-top: -1px;
				background-image: url(../img/newsletter_close_box_hover.svg);
				background-repeat: no-repeat;
				background-size: contain;
				z-index: 100;
				cursor: pointer;
			}
		}
		.mobile_footer_content {
			max-width: 293px;
			position: relative;
			margin: 35px auto 115px;
			padding: 0 15px;
			font-size: 14px;
			.signup_text_holder {
				margin-bottom: 15px;
			}
			ul {
				font-size: 15px;
				font-weight: bold;
				color: @red;
				margin-left: 20px;
				margin-top: 9px;
				li {
					margin: 0;
				}
			}
		}
	}
}

// these styles apply to the signup forms in the widget and on the footer popup, but also to the checkout form on page-newsletter-subscriptions.php
#newsletter_cart,
.newsletter-signup {
	input[type=text],
	input[type=email] {
		border: 2px solid @white;
		font-family: @font-body;
		color: @white;
		background-color: @black;
		&:hover, &:active, &:focus {
			border: 2px solid @white;
			color: @black;
			background-color: @white;
		}
		&::placeholder {
			color: @grey3;
		}
		width: 100%;
		margin-bottom: 10px;
		padding: 4px 16px;
	}
}

@media (min-width: 769px) {
	.visible-xs {
		display: none !important;
	}
	body.category,
	body.archive:not(.author) {
		.newsletter-signup.maincolumn {
		}
	}

	.newsletter-signup {
		// main column variant
		&.maincolumn {
			display: block;
			margin: 24px 0;


			position: relative;
			overflow: hidden;
			-webkit-transition: max-height 1.4s, height 1.4s;
			transition: max-height 1.4s, height 1.4s;

			.not-expanded,
			.expanded {
				position: relative;
				margin-top: 2 * @measure;
				border-top: 1px solid @white;
				border-left: 1px solid @white;
				border-right: 1px solid @white;
				hgroup {
					margin-top: -1 * @measure;
					background: @black;
				}
			}
			.not-expanded {
				.btn {
					display: block;
					margin: 0 auto @measure;
					width: max-content;
				}
			}

			// some bits to hide the background image when this is the last widget on the series landing page
			// if it's the last one on the series landing page, go big or go home
			.cftl-tax-landing-template-series-landing-special-projects #sidebar-bottom &.open:last-child {
				background-image: none;
				.expanded {
					padding-bottom: 0;
				}
			}
			.cftl-tax-landing-template-series-landing-special-projects #sidebar-bottom &:last-child {
				margin-bottom: 0;
				width: 100vw;
				box-sizing: border-box;
				margin-left: calc(50% - 50vw);
				margin-right: calc(50% - 50vw);
				.not-expanded,
				.expanded {
					max-width: 1170px;
					margin-left: auto;
					margin-right: auto;
				}
			}

			// add the image background in general cases
			&.open {
				background-image: url( '../img/footer-skyline.png' );
				background-repeat: no-repeat;
				background-position: bottom center;
				background-size: contain;
			}
			.expanded {
				padding-bottom: calc( ( 100% / 1330 * 106 ) + ( 2 * @measure ) ); // to make room for the background image on the parent element, make these dimensions match footer-skyline.png's size
				display: none;
				width: 100%;
				.row {
					max-width: 950px;
					margin: 0 auto;
				}
				.column {
					padding: 0;
					box-sizing: border-box;
					padding: 0 @measure 0 @measure;
				}
				.column.newsletter_list {
					width: 60%;
					border-right: 1px solid @grey1;
				}
				.column.newsletter_form {
					width: 40%;
					input[type=text],
					input[type=email],
					input[type=submit] {
						display: inline-block;
						padding: 6px 18px;
						font-size: 14px;
						line-height: 25px;
						clear: both;
						box-sizing: border-box;
					}
				}
			}
			.newsletter-response {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: @black;
				.column.signup_text_holder {
					margin-top: 4px;
					width: 51.354838709677419%;
					padding-left: 13.806451612903226%;
					.signup_intro {
						margin-left: 35%;
						margin-top: 14px;
						p {
							font-size: 14px;
						}
					}
				}
				.column.newsletter-response-content {
					width: 45.032258064516129%;
					border-left: 1px solid #3c3b36;
					margin-top: 56px;
					text-align: center;
					p {
						font-size: 20px;
						line-height: 1.2em;
						margin-bottom: 11px;
					}
					h3 {
						text-transform: uppercase;
						font-size: 38px;
					}
				}
			}
		}

		// mobile variant
		&.mobile {
			padding: 0 2.5%;
			.newsletter-response {
				.row {
					max-width: 1170px;
					margin: 0 auto;
					.column.signup_text_holder {
						width: 24.8387096774193548%;
						margin-left: 24.8387096774193548%;
						margin-top: 6px;
						padding-right: 37px;
					}
					.column.newsletter-response-content {
						text-align: center;
						width: 35%;
						padding-left: 46px;
						padding-bottom: 3px;
						padding-top: 12px;
						margin-top: 18px;
						border-left: 1px solid #3c3b36;
						p {
							font-size: 16px;
							line-height: 1.2em;
							margin-bottom: 11px;
						}
						h3 {
							text-transform: uppercase;
							font-size: 36px;
						}
					}
				}
			}
			.column {
				margin-top: 20px;
				margin-bottom: 35px;
			}
			.signup_text_holder {
				width: 33.5176991150442%;
				padding-right: 2.5%;
			}
			.newsletter_list {
				width: 26.548672566371681%;
				padding-left: 2.5%;
				padding-right: 2.5%;
				border-left: 1px solid #3c3b36;
				border-right: 1px solid #3c3b36;
			}
			.newsletter_form {
				width: 39.933628318584071%;
				position: relative;
				padding-left: 2.5%;
			}
			form {
				display: block;
				max-width: 1170px;
				margin: 0 auto;
				.newsletter_fields {
					float: left;
					width: 53.5%;
				}
				input[type=submit].subscribe_button {
					width: 41%;
					margin-left: 5.15%;
				}
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 979px){
	.newsletter-signup {
		&.footer {
			padding: 0 18px;
		}
	}
}

@media (min-width: 1200px) {
	.newsletter-signup {
		&.footer {
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 1600px) {
	.newsletter-signup {
		&.footer {
			padding: 0 20px;
		}
	}
}
