/**
 * Styles for series-landing-special-projects.php
 */
.cftl-tax-landing-template-series-landing-special-projects-php {
  .series-banner {
    @media ( min-width: 700px ) {
      text-align: right;
      img {
        max-width: 70%;
      }
    }
  }
  #main {
    @media ( min-width: 700px ) {
      border-bottom: 1px solid @grey1;
      padding-bottom: 0.5 * @measure;
    }
  }
  #series-header {
    background: @white;
    text-align: left;
    // this only works because of the combination of this specific image and border-image-slice
    // https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice
    // https://github.com/INN/umbrella-citylimits/pull/61#issuecomment-542890018
    border-image: url("../img/homepage-border-img.png");
    border-image-slice: 24 24 1 24;
    border-image-repeat: space;
    border-color: @white;
    border-style: solid;
    border-width: @measure * 0.5;
    border-bottom-width: 1px;
    // the above styles match up with those on #main

    @media ( min-width: 700px ) {
      position: absolute;
      bottom: -1px; // to overlap the border-bottom on the containing element
      left: 0;

      width: 40%;
      min-width: 25em;
      border-left: none;
      padding: 0 @measure 0 0;
    }
    @media ( max-width: 699px ) {
      margin-top: @measure;
      padding: 0 ( 0.5 * @measure );
      border-left: none;
      border-right: none;
    }

    .special-project {
      // should be roughly twice the height of the border-top on this element
      display: inline-block;
      height: 1 * @measure;
      line-height: 1 * @measure;
      font-size: 0.5 * @measure;
      background-color: @white;
      position: relative;
      top: -0.5 * @measure;
      left: -0.5 * @measure;
      border-right: 1px solid @grey1;
      padding-right: 1 * @measure;
      padding-left: 0.5 * @measure;

      text-transform: uppercase;
      font-weight: 700;
      color: @black;
    }
    .entry-title {
      margin-top: 1 * @measure;
      font-size: @measure;
      margin-bottom: @measure;
      @media ( min-height: 500px ) {
        margin-top: 1.5 * @measure;
      }
    }
    .byline,
    .description,
    .description * {
      margin-top: 1 * @measure;
      font-size: 1rem;
      color: @grey3;
    }
  }

  // use same formatting for the the_content area on this page as on the single-normal template
  // scoped to section.entry-content rather than .entry-content so that it doesn't propagate to other .entry-content on the page.
  section.entry-content {
    // https://github.com/INN/largo/blob/v0.6.4/less/inc/single.less#L62-L65
    padding: 0 17.021276594%;
    // https://github.com/INN/largo/blob/v0.6.4/less/inc/single.less#L108-L110
    @media ( max-width: 979px ) {
      padding: 0 6.382978723%;
    }
    // https://github.com/INN/largo/blob/v0.6.4/less/inc/single.less#L128-129
    @media ( max-width: 529px ) {
      padding: 0;
    }
  }
}
