.citylimits-special-projects-featured-content {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background: @tan;
    .citylimits-special-projects-featured-content-inner-container {
        max-width: 1170px;
        margin: 0 auto;
        .widgettitle {
            text-align: center;
            padding: 20px 0;
            margin-bottom: 0;
        }
        ul {
            display: grid;
            overflow: hidden;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding: 0 20px 120px;
            margin-bottom: 40px;
            position: relative;
            nav {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                &.pager {
                    a {
                        background: @red;
                        color: @white;
                        text-transform: uppercase;
                        padding: 20px 40px;
                    }
                }
            }
            li {
                border-bottom: 1px solid @grey1;
                padding: 30px 0;
                margin-bottom: 0;
                &:nth-child(1),
                &:nth-child(2) {
                    .byline {
                        display: none;
                    }
                }
                &:nth-child(1n+3) {
                    .img {
                        display: none;
                    }
                    p {
                        display: none;
                    }
                    height: 120px;
                }
                &:nth-child(odd) {
                    .inner {
                        border-right: 1px solid @grey1;
                    }
                }
                &:nth-child(even) {
                    .post-inner {
                        float: right;
                    }
                }
                .inner {
                    width: 99%;
                    height: 100%;
                    float: left;
                    .post-inner {
                        width: 95%;
                        .post-title {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            @media (max-width: 769px) {
                grid-template-columns: repeat(1, 1fr);
                padding: 0 20px;
                nav {
                    text-align: center;
                    position: relative;
                    left: 0;
                    margin-left: 0;
                }
                li {
                    height: auto!important;
                    .inner {
                        max-width: 100%;
                        padding: 0;
                        border: 0;
                        border: 0!important;
                        .post-inner {
                            max-width: 100%;
                            float: left!important;
                        }
                    }
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
